.content{
    background-color:  rgb(75, 6, 139);
    height: 100%;
    overflow: hidden;

}
.searchBar{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.searchBar input{
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 800px;
    outline: none;
}
.searchBar button{
    color: white;
    border-radius: 50%;
   background-color: rgba(0,0,0, 0.5);
    margin-left: 12px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.content-movie{
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 50px;
}